@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import url('https://fonts.cdnfonts.com/css/barley-script-personal-use');

*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 800;
}

body{
    height: 100vh;
}
#navbar-brand, #logoText{
    font-family: 'Barley Script PERSONAL USE', sans-serif;
    font-size: 40px;
}
#logoText{
    text-align: center;
    width: 100%;
}
#loginH5{
    font-size:30px;
}
#container-fluid{
    display: flex;
    flex-direction: column;
}
#navbar-header{
    text-align: center;
}
#navbar-brand{
    font-size:60px;
}
.homeH1{
    text-align: center;
    width: 100%;
}
.container3{
    background-color: #222222;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container2{
    background-color: #222222;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.searchArea{
   width: 30%;
   margin-left:35%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.input-group{
    width: 50%;
    
}
.input-group input::placeholder{
    font-size: 25px;
}
.input-group input{
    font-size: 25px;
}
.soon{
    width: 100%;
    text-align: center;
}
.aboutShop{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: auto;
    
    justify-content: space-evenly;
    background-color: #d9d9d9;

    padding-top: 10px;
    padding-bottom: 10px;
}
.item{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.item i{
    text-align: center;
    
}
.newsletter{
    padding: 5px;
    background-color: #d9d9d9;
    text-align: center;
}
#exampleInputEmail1{
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
#exampleInputEmail1::placeholder{
    font-size: 25px;
}
#formSubmitButton{
    font-size: 25px;
}
.socialMedia{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: auto;
}
.template-demo{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.socialMedia div button{
    font-size: 30px;
}
.form-check{
    text-align: center;
}
.signUpFormDiv input[type=text], .signUpFormDiv label{
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
}
.signUpFormDiv input[type=submit]{
    width: 40%;
    margin-left: 30%;
    text-align: center;
    margin: auto;
    font-size: 40px;
}
#submitBtn, #submitBtn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#sbt, #sbt2{
    font-size: 25px;
}
#check{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#emailInput, #vorname, #nachname, #street, #city, #plz{
    font-size: 30px;
}
#navbar-brand{
    text-align: center;
    width: 100%;
}